body {
    background-color: #FFF9EA;
    color: #242829;
}
/*
#EEFFDB
#242829
#4BB3FD
#8A9094
#DF2935
--------
paleta naranja
#FFF9EA
#E86D00
#FBC704
*/

p, span {
    font-family: "PT Serif", serif;
    font-size: 16px;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

#special {
    padding-top: 0px;
    margin-top: -25px;
}

h1, h2, h3, h4 {
    font-family: "Roboto Serif", serif;
    text-align: center;
}

h1 {
    font-size: 32px;
}

header {
    height: 50px;
    background-color: blue;
    display:none;
}

footer {
    height: 50px;
    background-color: blue;
    display:none;
}

main {
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

:root {
    --negative-margin: 0px;
    --color-distinct: rgba(0,0,0,0);
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /**/
    margin-left: var(--negative-margin);
    margin-right: var(--negative-margin);
}

#Foto {
    border-radius: 50%;
    height: 250px;
}

img {
    height: 30px;
}

#education, #tech-stack {
    background-color: var(--color-distinct);
}

