.card footer {
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.text-techs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.techs-footer-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.tech-img {
    height: 30px;
}

.text-techs span {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-underline-offset: 0.1em;
}